This prototype shows the code for the Data Owner to upload a dataset and give access to a Data Scientist 

First install syft, this will install the 0.6.0 version

In [1]:
!pip install syft==0.6.0

Requirement already satisfied: syft==0.6.0 in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: protobuf==3.19.1 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (3.19.1)
Requirement already satisfied: loguru==0.5.3 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (0.5.3)
Requirement already satisfied: bcrypt==3.2.0 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (3.2.0)
Requirement already satisfied: numpy==1.21.4 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (1.21.4)
Requirement already satisfied: gevent==21.8.0 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (21.8.0)
Requirement already satisfied: sympy==1.9 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (1.9)
Requirement already satisfied: names==0.3.0 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (0.3.0)
Requirement already satisfied: requests-toolbelt==0.9.1 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (0.9.1)
Requirement already satisfied: pydantic[email]==1.8.2 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (1.8.2)
Requirement already satisfied: packaging==21.2 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (21.2)
Requirement already satisfied: autodp==0.2 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (0.2)
Requirement already satisfied: ascii-magic==1.6 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (1.6)
Requirement already satisfied: PyNaCl==1.4.0 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (1.4.0)
Requirement already satisfied: importlib-metadata==4.8.2 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (4.8.2)
Requirement already satisfied: typing-extensions==4.0.0 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (4.0.0)
Requirement already satisfied: pymbolic==2021.1 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (2021.1)
Requirement already satisfied: pandas==1.3.4 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (1.3.4)
Requirement already satisfied: PyJWT==2.3.0 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (2.3.0)
Requirement already satisfied: requests==2.26.0 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (2.26.0)
Requirement already satisfied: tqdm==4.62.3 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (4.62.3)
Requirement already satisfied: werkzeug==2.0.2 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (2.0.2)
Requirement already satisfied: torch<=1.10.0,>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (1.10.0+cu111)
Requirement already satisfied: forbiddenfruit==0.1.4 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (0.1.4)
Requirement already satisfied: cachetools==4.2.4 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (4.2.4)
Requirement already satisfied: SQLAlchemy==1.4.27 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (1.4.27)
Requirement already satisfied: pyarrow==6.0.0 in /usr/local/lib/python3.7/dist-packages (from syft==0.6.0) (6.0.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.7/dist-packages (from ascii-magic==1.6->syft==0.6.0) (7.1.2)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from ascii-magic==1.6->syft==0.6.0) (0.4.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from autodp==0.2->syft==0.6.0) (1.4.1)
Requirement already satisfied: six>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt==3.2.0->syft==0.6.0) (1.15.0)
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt==3.2.0->syft==0.6.0) (1.15.0)
Requirement already satisfied: zope.interface in /usr/local/lib/python3.7/dist-packages (from gevent==21.8.0->syft==0.6.0) (5.4.0)
Requirement already satisfied: greenlet<2.0,>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from gevent==21.8.0->syft==0.6.0) (1.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from gevent==21.8.0->syft==0.6.0) (57.4.0)
Requirement already satisfied: zope.event in /usr/local/lib/python3.7/dist-packages (from gevent==21.8.0->syft==0.6.0) (4.5.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata==4.8.2->syft==0.6.0) (3.7.0)
Requirement already satisfied: pyparsing<3,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging==21.2->syft==0.6.0) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.4->syft==0.6.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.4->syft==0.6.0) (2018.9)
Requirement already satisfied: email-validator>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from pydantic[email]==1.8.2->syft==0.6.0) (1.1.3)
Requirement already satisfied: pytools>=2 in /usr/local/lib/python3.7/dist-packages (from pymbolic==2021.1->syft==0.6.0) (2022.1.1)
Requirement already satisfied: pytest>=2.3 in /usr/local/lib/python3.7/dist-packages (from pymbolic==2021.1->syft==0.6.0) (3.6.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests==2.26.0->syft==0.6.0) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests==2.26.0->syft==0.6.0) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests==2.26.0->syft==0.6.0) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests==2.26.0->syft==0.6.0) (2.0.12)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.7/dist-packages (from sympy==1.9->syft==0.6.0) (1.2.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt==3.2.0->syft==0.6.0) (2.21)
Requirement already satisfied: dnspython>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from email-validator>=1.0.3->pydantic[email]==1.8.2->syft==0.6.0) (2.2.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=2.3->pymbolic==2021.1->syft==0.6.0) (1.4.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=2.3->pymbolic==2021.1->syft==0.6.0) (8.12.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest>=2.3->pymbolic==2021.1->syft==0.6.0) (0.7.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=2.3->pymbolic==2021.1->syft==0.6.0) (1.11.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from pytest>=2.3->pymbolic==2021.1->syft==0.6.0) (21.4.0)
Requirement already satisfied: platformdirs>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from pytools>=2->pymbolic==2021.1->syft==0.6.0) (2.5.1)

Check the installed version

In [2]:
!pip list | grep syft

syft                          0.6.0

Import all the necessary dependencies

In [3]:
import syft as sy
from google.colab import files
import pandas as pd
import numpy as np

Define IP and port address to connect to the domain or use the DNS. The domain has been installed using the one-click for Azure. 
Check https://github.com/OpenMined/PySyft/tree/0.6.0 at the Deploy to Cloud
section

In [4]:
DOMAIN_URL1 ="http://40.118.207.120:80"
#"http://tesis.westus.cloudapp.azure.com:80" 
#"http://ort.westus.cloudapp.azure.com:80"

Login to the domain as admin and create an user with the role Data Scientist

In [5]:
domain = sy.login(
    url=DOMAIN_URL1,
    email="info@openmined.org",
    password="changethis"
    )

WARNING: CHANGE YOUR USERNAME AND PASSWORD!!!

Anyone can login as an admin to your node right now because your password is still the default PySyft username and password!!!

Connecting to http://40.118.207.120:80... done! 	 Logging into node... done!

Crear el usuario

In [6]:
domain.users

The next code is commented becouse each time you run the systmen create a new user with the same name.

In [ ]:
#domain.users.create(name='TCS',email='szanottag@gmail.com',role='Data Scientist',  password='passwordtest')
#domain.users.create(name='TCT',email='betirod@hotmail.com',role='Data Scientist',  password='passwordtest1')

List the users in order to check that it has been correctly created

Let's upload the dataset that the Owner will upload to the domain. In this case we are using the diabetes dataset, taken from the Kaggle competition 
https://www.kaggle.com/mathchi/diabetes-data-set

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Let's see what information has this dataset

In [8]:
df = pd.read_csv('/content/drive/MyDrive/df_consultas.csv', index_col=0 )
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
537,0,57,60,0,0,21.7,0.735,67
538,0,127,80,37,210,36.3,0.804,23
539,3,129,92,49,155,36.4,0.968,32
540,8,100,74,40,215,39.4,0.661,43
541,3,128,72,25,190,32.4,0.549,27
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

Transform to syft Tensor the dataframe

In [9]:
data_tensors_consultas = sy.Tensor(df.values.astype(np.int32))

Check the min and max values

In [10]:
df.min(), df.max()

(Pregnancies                  0.000
 Glucose                     56.000
 BloodPressure                0.000
 SkinThickness                0.000
 Insulin                      0.000
 BMI                          0.000
 DiabetesPedigreeFunction     0.085
 Age                         21.000
 dtype: float64, Pregnancies                  13.000
 Glucose                     199.000
 BloodPressure               114.000
 SkinThickness                99.000
 Insulin                     600.000
 BMI                          57.300
 DiabetesPedigreeFunction      1.699
 Age                          70.000
 dtype: float64)

In [11]:
max = max(df.max())
max

600.0

In [12]:
min = min(df.min())
min

0.0

Make private the tensor data

In [14]:
print(data_tensors_consultas.shape)
private_data_tensors_consultas = data_tensors_consultas.private(min_val=min, max_val=max, entities=[str(s) for s in range(data_tensors_consultas.shape[0])])

(231, 8)

Upload the dataset to the domian

In [17]:
domain.load_dataset(
    assets={"data": private_data_tensors_consultas},
    name="diabetes_consultas",
    description="Diabetes_Consultas"
)

Loading dataset... uploading... SUCCESS!

Run <your client variable>.datasets to see your new dataset loaded into your machine!

List the datasets for the domain

In [18]:
domain.datasets

Check the requests made by the Data Scientist

In [20]:
domain.requests

Approve the request by the id

In [21]:
domain.requests[0].approve()

In [22]:
domain.requests